/* Custom overrides for Cayman theme */

/* Narrow header content but keep full-width background */
.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header h1,
.page-header h2,
.page-header p {
  max-width: 1000px; /* Adjust to control width */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
